<form action="/g3tL33t" method="post">
  <label for "userPhrase">Whatever noob.</labe>
  <input type="text" name="userPhrase" required>
  <button type="submit">G3T L33T</button>
</form>

<p>@Model</p>
